body{
background:#eee;
}
.wrapper{
width:100%;
max-width:1080px;
margin:0 auto;
}
.flex-container{
display:flex;
background:#fff;
flex-wrap:wrap;
}
.box{
height:200px;
min-width:300px;
}

.one{
background:red;



}
.two {
background:blue;

}
.three{
background:green;

}

